.AddProduct {
    position: fixed;
    display: block;
    top: 25%;
    left: 40%;
    border: black;
}

.AddProduct_modal_content {
    horiz-align: center;
    padding: 20px;
    border-radius: 12px;
    border: black;
    background: lightgrey;
}